{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["import", "simple-import-sort", "jsx-a11y"],
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error",
    "no-eval": "error",
    "import/first": "error",
    "no-unused-vars": "error",
    "simple-import-sort/imports": "error",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["{components,hooks,util,pages}/**/*.{js,jsx}"]
    }
  ]
}
