@charset "utf-8";

.image {
  max-height: 256px;
  max-width: 256px;
  margin: auto;
}

.image-column {
  justify-content: center !important;
  border-bottom: 2px solid #000 !important;
  padding-bottom: 0 !important;
}

.image-module {
  height: 256px !important;
  width: 100% !important;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
