@charset "utf-8";

.image-container {
  margin: auto;

  &.is-medium {
    max-height: 256px;
    max-width: 256px;
  }
}

.image-column {
  justify-content: center !important;
  border-bottom: 2px solid #000 !important;
  padding-bottom: 0 !important;
}

.image {
  height: 256px !important;
  width: 100% !important;
}
