// Font and sizing
$family-sans-serif: "Nunito", sans-serif;
$dimensions: 16 24 32 48 64 96 128 256 512 !default;
$bottom-border-height: 2px;
$default-transition-speed: 0.1s;
$underline-speed: 0.4s;
$highlight-size: 2px;

.layout-default {
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
