// Colors
$default-text-color: hsl(0, 0%, 21%);
$link-color: #ffa31a;
$primary: hsl(171, 100%, 41%);
$primary-dark: hsl(171, 100%, 29%);
$primary-light: hsl(171, 100%, 96%);
$info: hsl(204, 86%, 53%);
$link: hsl(217, 71%, 53%);
$black: #000;
$red: hsl(348, 100%, 61%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$git-color: $red;
$linkedin-color: $info;
