@charset "utf-8";

$highlight-size: 2px;

.social-link {
  background: linear-gradient(
    to bottom,
    lighten($sky, 30%),
    lighten($sky, 30%) 100%
  );
}

.social-link:hover {
  border-radius: 5px;
  background-size: 4px 100%;
  color: $sky;
}

.social-link {
  cursor: pointer;
  border-radius: 0px;
  padding: $highlight-size;
  margin: -$highlight-size;
  color: $default-text-color;
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 3px;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: background-size, border-radius, color;
  transition-timing-function: ease-in-out;
}

.social-button {
  color: $default-text-color;
  transition: 0.2s ease all;

  &:hover {
    color: $primary;
  }
}

button,
.button {
  transition: 0.3s ease all;
  &:hover,
  &:active,
  &.active {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
      0 0px 0 1px rgb(10 10 10 / 2%) !important;
  }
}
