@charset "utf-8";

@import "./fonts";
@import "./colours";
@import "./spacing";
@import "./layout";

$highlight-size: 2px;

.mobile-nav {
  justify-content: center;
}

.mobile-nav-item {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  backface-visibility: hidden;
  background-color: transparent !important;
  position: relative;
  color: black !important;
  transition: 200ms ease-in-out all;
}

.navbar-item {
  &.active {
    color: $primary !important;
  }
}

.text-icon {
  margin-right: 5px !important;
  position: relative !important;
  top: -1px !important;
}

.navbar-item.navbar-icon {
  backface-visibility: hidden;
  background-color: transparent !important;
  position: relative !important;
  color: black !important;
  margin-left: 2rem !important;
  transition: 200ms ease-in-out all;

  &.kofi-item {
    &:before {
      background: $danger !important;
    }

    &:active {
      &:before {
        background: $danger !important;
      }
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 4;
    opacity: 0;
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    transform: scale(0.9);
    background: $grey-lightest;
    border-radius: 10000px;
    left: -5%;
    width: 110%;
    height: 100%;
  }

  &:hover {
    &:before {
      transform: none;
      opacity: 1;
    }
  }

  &:active {
    &::before {
      background: $grey-lighter !important;
    }
  }

  &.active {
    color: $primary !important;
  }
}

.navbar-item-right {
  margin-left: auto !important;
}

.image {
  max-width: 256px;
  margin: auto;
}

.image-column {
  justify-content: center !important;
  border-bottom: 2px solid #000 !important;
  padding-bottom: 0 !important;
}

.image-container {
  min-height: 256px;
}

.image-module {
  height: auto !important;
  width: 100% !important;
  transition: 0.5s ease all !important;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.about-column {
  border-bottom: 2px solid #000 !important;
}

.about-hero-body {
  padding-top: 1.5rem !important;
  padding-bottom: 1rem !important;
}

.button-column {
  padding-top: 1.5rem !important;
}

.about-hero {
  @keyframes fade-in {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  animation: fade-in 200ms cubic-bezier(0.4, 0.885, 0.32, 1.275) forwards;
}

.social-link {
  background: linear-gradient(
    to bottom,
    lighten($sky, 30%),
    lighten($sky, 30%) 100%
  );
}
.social-link:hover {
  border-radius: 5px;
  background-size: 4px 100%;
  color: $sky;
}
.social-link {
  cursor: pointer;
  border-radius: 0px;
  padding: $highlight-size;
  margin: -$highlight-size;
  color: $default-text-color;
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 3px;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: background-size, border-radius, color;
  transition-timing-function: ease-in-out;
}

.social-button {
  color: $default-text-color;
  transition: 0.2s ease all;

  &:hover {
    color: $primary;
  }
}

.bottom-button-icon,
.navbar-icon {
  position: relative !important;
  z-index: 5;
}

.title {
  margin-bottom: 5px !important;
}

.message-next-button {
  width: 4rem !important;
  height: 4rem !important;
}

.kofi-item-mobile {
  &:hover,
  &:active {
    color: $danger !important;
  }
}

@import "bulma";
