.image-column {
  width: auto !important;
  padding-right: 3em !important;
  padding-left: 3em !important;
}

// Add a drop shadow to profile picture
.image-module {
  transition: 20s all ease-out;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.image-module:hover {
  transition: 500s all ease-in-out;
  transform: rotate(3600000deg);
}
