.navbar-item.mobile-icon {
  margin: 0 -0.25em;
}

.navbar-item.desktop-icon {
  margin: 0 0.25em;
}

.navbar-item.navbar-icon {
  color: $black !important;
  border-radius: 50% !important;
  background-color: transparent;
  transition-property: color, background-color;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

.navbar-item.navbar-icon:hover {
  color: $link !important;
}
