.navbar-item.mobile-icon {
  margin: 0 -0.25em;
}

.navbar-item.desktop-icon {
  margin: 0 0.25em;
}

.navbar-icon {
  background-color: #fff !important;
  margin: 0 10px !important;
  display: block !important;
  border-radius: 50% !important;
  position: relative !important;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 0 5px grey;
  z-index: 1;
}

.navbar-icon .icon {
  position: relative;
  color: #262626;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-property: color;
  z-index: 3;
}

.navbar-icon:hover .icon {
  color: #fff;
}

.navbar-icon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out all;
  z-index: 2;
}

.navbar-icon:hover:before {
  top: 0;
}

.github-button .navbar-icon:before {
  background: #333;
}

.linkedin-button .navbar-icon:before {
  background: #0077b5;
}

.mail-button .navbar-icon:before {
  background: #dd4b39;
}
