$animation-delay: 0.2s;

@mixin bounce-animation($initial-translation, $final-translation) {
  @keyframes bounce {
    from {
      transform: $initial-translation;
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: $final-translation;
    }
  }
}

.about-section {
  // Give all a border but the last
  &:not(:last-child) {
    border-bottom: 2px solid #000 !important;
  }

  // Start it invisible
  opacity: 0;

  // Make the transitions stack
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation: bounce
        200ms
        cubic-bezier(0.4, 0.885, 0.32, 1.275)
        #{$i *
        $animation-delay}
        forwards;
    }
  }
}
