@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: 'Nunito', sans-serif;
$dimensions: 16 24 32 48 64 96 128 256 512 !default;
$bottom-border-height: 3px;
$default-transition-speed: 0.2s;

// colors
$default-text-color: hsl(0, 0%, 21%);
$link-color: #ff9800;
$primary: hsl(171, 100%, 41%);
$info: hsl(204, 86%, 53%);
$link: hsl(217, 71%, 53%);
$black: #000;
$red: hsl(348, 100%, 61%);
$grey-light: hsl(0, 0%, 71%);
$git-color: $red;
$linkedin-color: $info;

$highlight-size: 2px;

.button-footer {
  background: transparent !important;
}

.navbar-item {
  position: relative;
  display: inline-block;
  border-radius: 0px !important;
}

.navbar-module {
  width: 1%;
  border-bottom: $bottom-border-height solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navbar-module:hover,
.navbar-module.active {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-bottom: $bottom-border-height solid $primary;
  width: 100%;
}

.social-container {
  -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box; /* Firefox, other Gecko */
  box-sizing: content-box; /* Opera/IE 8+ */
}

.footer-link {
  background: linear-gradient(to bottom, $link-color 0%, $link-color 100%);
}

.github-link {
  background: linear-gradient(
    to bottom,
    lighten($git-color, 20%),
    lighten($git-color, 20%) 100%
  );
}

.linkedin-link {
  background: linear-gradient(
    to bottom,
    lighten($linkedin-color, 20%),
    lighten($linkedin-color, 20%) 100%
  );
}

.social-link {
  padding: $highlight-size;
  margin: -$highlight-size;
  color: $default-text-color;
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 3px;
  text-decoration: none;
  transition-duration: $default-transition-speed;
  transition-property: background-size;
  transition-timing-function: ease-in-out;
}

.social-link:hover {
  color: $black;
  background-size: 4px 100%;
}

@import '../node_modules/bulma/bulma.sass';
