@charset "utf-8";

$primary: hsl(171, 100%, 41%);
$danger: hsl(348, 100%, 61%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: #ececec;
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$sky: #0072c9;
$link-color: #ffa31a;
$default-text-color: hsl(0, 0%, 21%);
