$about-sections: "contact-field-name" 200ms translateX(20px) translateX(0px),
  "contact-field-email" 400ms translateX(20px) translateX(0px),
  "contact-field-message" 600ms translateX(20px) translateX(0px),
  "contact-field-submit" 800ms translateX(20px) translateX(0px),
  "help" 0ms translateX(20px) translateX(0px);

@each $component, $delay, $initial-translation,
  $final-translation in $about-sections
{
  .#{$component} {
    @keyframes bounce {
      from {
        transform: $initial-translation;
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: $final-translation;
      }
    }
    opacity: 0;

    animation: bounce
      200ms
      cubic-bezier(0.4, 0.885, 0.32, 1.275)
      $delay
      forwards;
  }
}

.input,
.textarea {
  transition: 0.2s ease all !important;
}
